---
import { Image } from "astro:assets";
import screen from "../../assets/images/screen.webp"
---
<section>
  <h2 class="title--small">My Projects</h2>
  <div>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
    <article>
      <div>
        <h3 class="title--small title--extrasmall(criar)">Project title</h3>
        <div class="list regular-text--medium">
          <h4 class="regular-text--medium">Technologies:</h4>
          <ul class="regular-text--medium">
            <li class="regular-text--medium">HTML</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
            <li class="regular-text--medium">CSS</li>
          </ul>
        </div>
        <p class="regular-text--small"><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed cupiditate odio fugiat porro minus voluptatibus dolore. Quam ab voluptates dolorum doloribus dolorem magni eius distinctio minus architecto odio labore culpa laudantium ducimus aspernatur ad consequatur, quos dicta dolores nam? Laborum at, suscipit voluptate consequatur pariatur voluptatum nam facilis! Sunt.</p>
      </div>
      <Image
        src={screen}
        alt="Screen image"
      />
      <a class="regular-text--large" href="#">Learn more</a>
    </article>
  </div>
  <a class="regular-text--large" href="#">View all</a>
</section>

<style lang="scss">
@use "../../styles/style.scss" as *;

.button{
  
}

section{
  --imgRadius: calc(1vw + .25rem);
  --articlePadding: max(var(--text-paddingInline-small), var(--fs-1));
  --articleRadius: calc(var(--imgRadius) + var(--articlePadding));
  --sectionPadding: max(var(--text-paddingInline-regular), var(--fs-1));
  --sectionRadius: calc(var(--articleRadius) + var(--sectionPadding));
  
  padding: var(--sectionPadding);
  border-radius: var(--sectionRadius); /* (ajustar para desktop e para max-width) */

  background-color: $white;

  color: $purple-700;

  & > div{
    display: grid;
    gap: var(--sectionPadding);

    margin-bottom: calc(var(--sectionPadding) * 2);

    & > :nth-child(2n){
      background-color: $purple-700;

      color: $purple-300;
    }
  }

  & > a{
    --padding: .75em;

    display: block;

    max-width: 25ch;
    padding: var(--padding) 1.5em;
    padding-bottom: calc(var(--padding) + .25em);
    margin-top: .75em;
    margin-inline: auto;
    border-radius: 100vmax;

    background-color: $purple-700;

    color: $white;
    line-height: 1;
    text-align: center;
  }
}

h2{
  margin-bottom: .5em;

  text-align: center;
}

article{
  display: grid;
  gap: var(--articlePadding);  
  
  padding: var(--articlePadding);
  border-radius: var(--articleRadius);

  background-color: $purple-300;
  & > div{
    h3{
      margin-bottom: .5em;
    }
    .list{
      display: flex;
      flex-wrap: wrap;
      column-gap: .5em;

      margin-bottom: .5em;

      ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: .25em;

        li::after{
          content: ",";
        }

        li:last-child::before{
          content: " and ";
         } 

        li:last-child::after{
          content: ".";
         } 

         li:first-child::before{
          content: "";
         }
      }
    }
    p{
      span{
        font-weight: 700;
      }
      &::first-letter{
        font-size: var(--fs-3);      
      }
      
    }
  }

  img{
    width: 100%;
    aspect-ratio: 1 /2;
    max-height: 50vh;
    object-fit: cover;
    object-position: top 0 left 10%;
    border-radius: var(--imgRadius);
  }

  & > a{
    justify-self: center;
    
    --padding: .75em;
    padding: var(--padding) 1.5em;
    padding-bottom: calc(var(--padding) + .25em);
    margin-top: .75em;
    border-radius: 100vmax;

    background-color: $white;

    color: $purple-700;
    line-height: 1;
    text-align: center;
  }
}

@media (min-width: 40em){
  article{
    grid-template-columns: repeat(2, 1fr);
    div{
      h3{
        text-align: center;
      }
    }
    img{
      align-self: stretch;
      
      aspect-ratio: 16/9;
      min-height: 25vh;
      max-height: 40vh;
      /* Ideally 16/9, but not more than 40vh, or less than 25vh. If between 25vh and 40vh, and 16/9 is too short, will fill space available to fit text */
      margin-top: calc(var(--fs-4) * 1.5);
      /* h3 size + margin-bottom */
    }
    a{
      grid-column: span 2;
    }
  }

  article:nth-child(2n){
    div{
      order: 2
    }
    img{
      order: 1;
    }
    a{
      order: 3;
    }
  }
}
</style>