---
import type { HeadingLevel } from "../../types/headingLevel";
import type { ProjectFilters } from "../../types/projectFilters";

import { generateChildHeading } from "../../utils/generateChildHeading.ts";
import { filterProjects } from "../../utils/filterProjects";
import projectsData from "../../utils/returnProjects.ts";

import ProjectCard from "../Elements/ProjectCard.astro";
import Button from "../Elements/Button.astro";
import FilterTechnologies from "../Elements/FilterTechnologies.astro";

type Props = {
	headingLevel: HeadingLevel;
	filter?: ProjectFilters;
	slide?: boolean;
};
const { headingLevel, filter = "", slide = true } = Astro.props;

const projects = filter ? filterProjects(projectsData, filter) : projectsData;

const Heading = headingLevel;
const childHeading = generateChildHeading(headingLevel);

const path = Astro.url.pathname;
const isHome = path === "/";
---

<section id="projects">
	<Heading class="title--medium heading">My Projects</Heading>
	{!isHome && <FilterTechnologies headingLevel={childHeading} />}
	<div class="cards-container">
		{
			projects.map((project) => {
				return (
					<ProjectCard
						title={project.title}
						technologies={project.technologies}
						summary={project.summary}
						image={project.image1}
						imageAltText={project.altImage1}
						slug={project.slug}
						headingLevel={childHeading}
						shouldSlide={slide}
					/>
				);
			})
		}
	</div>
	{
		isHome && (
			<Button
				href="/projects"
				backgroundColor="white"
				color="purple"
				size="big"
			>
				View all
			</Button>
		)
	}
</section>

<style lang="scss">
	@use "../../styles/style.scss" as *;

	section {
		margin-bottom: max(var(--section-paddingBlock-regular), 8vw);

		color: $purple-700;

		& > .heading {
			margin-bottom: 0.5em;

			text-align: center;
			color: $white;
		}

		& > .cards-container {
			display: grid;
			gap: calc(var(--section-paddingBlock-regular) / 2);

			margin-bottom: calc(var(--section-paddingBlock-regular) / 2);
		}
	}
</style>
