---
import Layout from "../../layouts/Layout.astro";
import projectsData from "../../utils/returnProjects.ts";
import { Image } from "astro:assets";

export async function getStaticPaths() {
	return projectsData.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const {
	title,
	description1,
	description2,
	image1,
	altImage1,
	image2,
	altImage2,
	githubUrl,
	projectUrl,
	technologies,
} = project;
---

<Layout title="projects">
	<h1>{title}</h1>
	<p>{description1}</p>
	<Image
		src={image1}
		alt={altImage1}
	/>
	<p>{description2}</p>
	<Image
		src={image2}
		alt={altImage2}
	/>
	<a href={projectUrl}>Visit project</a>
	<a href={githubUrl}>See the code</a>
</Layout>
