---
/* import { getCollection } from "astro:content"; */
import Layout from "../../layouts/Layout.astro";
import projectsData from "../../components/Sections/returnProjects";
import { Image } from "astro:assets";

export async function getStaticPaths() {
	return projectsData.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
	/* const projects = await getCollection("projects"); */
	/* return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	})); */
}

const { project } = Astro.props;
const { title, description1, image1, altImage1, githubUrl, projectUrl } = project;
/* const { title, description, githubUrl, projectUrl } = data; */
---

<Layout title="projects">
	<h1>{title}</h1>
	<Image
		src={image1}
		alt={altImage1}
	/>
	<p>{description1}</p>
	<a href={projectUrl}>Visit project</a>
	<a href={githubUrl}>See the code</a>
</Layout>
