---
import type { HeadingLevel } from "../../types/headingLevel";

import { generateChildHeading } from "../../utils/generateChildHeading";
import { normalizeString } from "../../utils/normalizeString";

import { Image } from "astro:assets";
import { slide, fade } from "astro:transitions";
import TechnologiesList from "./TechnologiesList.astro";
import Button from "./Button.astro";

type Props = {
	title: string;
	technologies: string[];
	summary: string;
	image: ImageMetadata | undefined;
	imageAltText: string;
	slug: string;
	headingLevel: HeadingLevel;
	shouldSlide?: boolean;
};

const {
	title,
	technologies,
	summary,
	image,
	imageAltText,
	slug,
	headingLevel,
	shouldSlide = true,
} = Astro.props;

const Heading = headingLevel;
const childHeading = generateChildHeading(headingLevel);
---

<article
	transition:animate={shouldSlide ? "none" : fade({ duration: ".5s" })}
	transition:name={`project-card-${normalizeString(title)}`}
>
	<div class="text">
		<Heading class="title--small heading">
			{title}
		</Heading>
		<TechnologiesList
			technologies={technologies}
			headingLevel={childHeading}
		/>
		<p class="regular-text--small">
			<span>Summary:</span>
			{summary}
		</p>
	</div>
	{
		image && (
			<Image
				src={image}
				alt={imageAltText}
				transition:name={`project-${normalizeString(title)}`}
				transition:animate={
					shouldSlide ? slide({ duration: ".5s" }) : fade({ duration: ".5s" })
				}
			/>
		)
	}
	<div class="button">
		<Button
			href={`/projects/${slug}`}
			backgroundColor="purple"
			color="pink"
		>
			Learn more
		</Button>
	</div>
</article>

<style lang="scss">
	@use "../../styles/style.scss" as *;

	article {
		--imgRadius: calc(0.25vw + 0.25rem);
		--articlePadding: var(--spacing-1);
		--articleRadius: calc(var(--imgRadius) + var(--articlePadding));

		display: grid;
		gap: var(--articlePadding);

		padding: var(--articlePadding);
		border-radius: var(--articleRadius);

		background-color: $purple-300;

		& *::selection {
			background-color: $purple-700;
			color: $purple-300;
		}
		.text {
			.heading {
				margin-bottom: 0.5em;

				word-break: break-word;
			}

			p {
				span {
					margin-right: 0.5em;
					font-weight: 700;
					line-height: 1;
				}

				&::first-letter {
					font-size: var(--fs-3);
				}
			}
		}

		img {
			width: 100%;
			aspect-ratio: 3 / 4;
			max-height: max(50vh, 15rem);
			object-fit: cover;
			object-position: top 0 left 10%;
			border-radius: var(--imgRadius);
		}

		.button {
			justify-self: center;
		}
	}

	@media (min-width: 40em) {
		article {
			grid-template-columns: repeat(2, 1fr);

			.text {
				.heading {
					text-align: center;
				}
			}
			img {
				align-self: center;

				aspect-ratio: 16/9;
				min-height: 25vh;
				max-height: max(40vh, 20rem);
				/* Ideally 16/9, but not more than 40vh, or less than 25vh. If between 25vh and 40vh, and 16/9 is too short, will fill space available to fit text */
			}

			.button {
				grid-column: span 2;
			}
		}

		article:nth-child(2n) {
			.text {
				order: 2;
			}

			img {
				order: 1;
			}

			.button {
				order: 3;
			}
		}
	}
</style>
